<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Asmo clinic - Асмо клиник">
	<link rel="icon" type="image/x-icon" href="/assets/images/favicon.svg">
	<link rel="stylesheet" href="/assets/css/main.css">
	<link rel="stylesheet" href="/assets/bootstrap/bootstrap.min.css">
	<script src="/assets/bootstrap/bootstrap.min.js"></script>
	<script src="/assets/js/jquery.min.js"></script>
	<meta Http-Equiv="Cache" content="no-cache">
	<meta Http-Equiv="Pragma-Control" content="no-cache">
	<meta Http-Equiv="Cache-directive" Content="no-cache">
	<meta Http-Equiv="Pragma-directive" Content="no-cache">
	<meta Http-Equiv="Cache-Control" Content="no-cache">
	<meta Http-Equiv="Pragma" Content="no-cache">
	<meta Http-Equiv="Expires" Content="0">
	<meta Http-Equiv="Pragma-directive: no-cache">
	<meta Http-Equiv="Cache-directive: no-cache">

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
	<script>
		$(window).on("load", function () {
			$(".loader__wrapper").fadeOut("slow");
		});

		$(document).ready(function () {
			$(this).scrollTop(0);
		});  
	</script>
	<title>Asmo clinic</title>
</head>