<!DOCTYPE html>
<html lang=<%= i18n.lang %>>
<%- include('partials/head')%>

<body>

	<div class="loader__wrapper">

		<div class="lds-ring">
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</div>

	</div>


	<%- include('partials/navbar')%>

	<main class="container">
		blog
	</main>

	<%- include('partials/footer')%>

	<script src="./assets/js/main.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js">
	</script>


</body>

</html>