<!DOCTYPE html>
<html lang=<%= i18n.lang %>>
<%- include('partials/head')%>

<body>
 
	<%- include('partials/navbar')%>

	<main class="container">
		blog
	</main>

	<%- include('partials/footer')%> 
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js">
	</script>


</body>

</html>